*{
    margin:0 ;
    padding: 0;
}

main{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quadro{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: rgb(197, 80, 80);
}

.form{
    display: grid;
    grid-gap: 10px; 
    justify-items: end;


}

.input-number{
    width: 150px;
    margin-bottom: 10px;

}
